@import 'global-vars';

.settings-container {
    padding: 8px 16px 8px 16px;
    height: 350px;
}

.light-theme {
  .settings-container {
    border-top: 1px solid $sec-background-light;
}
}

:host(.dark-theme) {
    .settings-container {
        border-top: 1px solid $sec-background;
    }
}