@import 'global-vars';

.sidebar-container {
    border-right: 1px solid $sec-background-light;
    height: 100%;
}

.date-container {
    text-align: center;
    height: 64px;
    border-top: 1px solid $sec-background-light;
    border-bottom: 1px solid $sec-background-light;
}

.folder-location-input {
    width: 95%;
    margin: 8px 8px 0 8px;
}


:host(.dark-theme) {
    .sidebar-container {
        border-right: 1px solid $sec-background;
    }
    
    .date-container {
        border-top: 1px solid $sec-background;
        border-bottom: 1px solid $sec-background;
    }
}