<div class="sidebar-container">
    <div class="calendar-container">
        <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </div>
    <div class="date-container">
        <h2>{{selectedDate | date: 'longDate'}}</h2>
    </div>
    <div class="nav-container">
        <mat-form-field class="folder-location-input" appearance="outline">
            <mat-label>Folder Location</mat-label>
            <mat-icon matPrefix fontIcon="folder"></mat-icon>
            <input matInput>
        </mat-form-field>
        <mat-tab-group>
            <mat-tab label="Sentry">

            </mat-tab>
            <mat-tab label="Dashcam">

            </mat-tab>
        </mat-tab-group>
    </div>
</div>