app-logo {
  width: 140px;
}

.app-frame {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
    // app-settings {
    //   justify-self: flex-end;
    // }
  }
}

app-sidebar {
  display: block;
  height: calc(100vh - 64px);
  width: 325px;
}