@import 'global-vars';

.scrubber-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    height: 50px;
    border-top: 1px solid $sec-background-light;
}

mat-slider {
    flex: 1 1;
}

@media (prefers-color-scheme: dark) {
    .scrubber-container {
        border-top: 1px solid $sec-background;
    }
}