// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$accent-palette: (
    50 : #ebe8ef,
    100 : #ccc5d8,
    200 : #ab9ebe,
    300 : #8977a3,
    400 : #6f5a90,
    500 : #563d7c,
    600 : #4f3774,
    700 : #452f69,
    800 : #3c275f,
    900 : #2b1a4c,
    A100 : #b18bff,
    A200 : #8f58ff,
    A400 : #6c25ff,
    A700 : #5b0cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sentinel-primary: mat.define-palette($accent-palette, 500);
$sentinel-accent: mat.define-palette($accent-palette, 500);

// The warn palette is optional (defaults to red).
$sentinel-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sentinel-light-theme: mat.define-light-theme((
  color: (
    primary: $sentinel-primary,
    accent: $sentinel-accent,
    warn: $sentinel-warn,
  )
));

$sentinel-dark-theme: mat.define-dark-theme((
  color: (
    primary: $sentinel-primary,
    accent: $sentinel-accent,
    warn: $sentinel-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sentinel-light-theme);

@import 'global-vars';

:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root.light-theme {
  @include mat.all-component-colors($sentinel-light-theme);
  color: $text-color-light;
  background-color: $main-background-light;
}

.light-theme {
  .mat-toolbar {
    background: $sec-background-light !important;
    color: $text-color-light;
    border-bottom: 1px solid $sec-background-light;
  }
}

:root.dark-theme {
  @include mat.all-component-colors($sentinel-dark-theme);
  color: $text-color !important;
  background-color: $main-background !important;
}

.dark-theme {

  .mat-toolbar {
    background: $main-background !important;
    color: $text-color;
    border-bottom: 1px solid $sec-background;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
